<!-- Required meta tags -->
<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name='viewport' content='width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no'>
<meta name="description" content="">
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">

<!-- vendor CSS -->
<link th:src="@{/assets/vendor/bootstrap/bootstrap.min.js}" rel="stylesheet">

<!-- 컨텐츠 페이지 CSS 삽입 -->
<!-- <th:block layout:fragment="pageCustomCss"></th:block> -->

<!-- CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">
<!-- 테마 -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap-theme.min.css">
